* {
  margin: 0;
  padding: 0;

  font-family: sans;
  color: #444;
}

html {
  overflow-y: scroll;
}

html, body {
  background: #ddd;
  height: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #c00;
}

a:hover {
  color: #f90;
}

#content {
  max-width: 770px;
  margin: auto;
  background: #fff;
  min-height: 100%;
}

#title {
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: 95%;
}

#title h1 {
  font-size: 40px;
  font-weight: normal;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

#menu {
  margin-left: 20px;
  width: 95%;
}

#menu ul {
  list-style-type: none;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#menu a, #menu span.active {
  float: left;
  width: 40px;
  margin-right: 20px;
}

#menu li {
  display: inline;
}

#main {
  width: 70%;
  margin-right: 25%;
  margin-left: 20px;
  text-align: justify;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;
}

div#main h3 a,
div#menu span.active,
div#menu a {
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

#main p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 9pt;

  line-height: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  width: 20%;

  padding: 0 0 0 0;

  text-align: left;
  float: right;
  margin-right: 20px;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #444;

  letter-spacing: 1px;

  line-height: 20px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

div.comment_link {
    padding-bottom: 30px;
}

div.post pre {
    background-color: #eee;
    border: 1px solid #999;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 8pt;
}
